<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
</head>
<body>
	<div>INDEX 페이지입니다.</div>
	<img src="https://cdn.pixabay.com/photo/2019/09/12/18/29/street-cafe-4472312_1280.jpg" alt="카페 사진" width="80%" height="auto" className = "align-items-center">
	<li><a href="{% url 'manager:menu_list'%}"> 메뉴리스트 </a></li> 
	<li><a href="{% url 'manager:menu_add'%}"> 메뉴추가 </a></li> 
	<li><a href="/admin/"> 어드민 </a></li> 
	
</body>
</html>